<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.syn.chuilun.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="cn.syn.chuilun.model.User" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="user_role" property="userRole" jdbcType="VARCHAR" />
    <result column="create_at" property="createAt" jdbcType="BIGINT" />
    <result column="update_at" property="updateAt" jdbcType="BIGINT" />
    <result column="editor_id" property="editorId" jdbcType="BIGINT" />
    <result column="privileges" property="privileges" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, password, user_role, create_at, update_at, editor_id, privileges
  </sql>
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="delete" parameterType="java.lang.Long" >
    delete from user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <!--<insert id="insert" parameterType="cn.syn.chuilun.model.User" >-->
    <!--insert into user (id, name, password, -->
      <!--user_role, create_at, update_at, -->
      <!--editor_id, privileges)-->
    <!--values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, -->
      <!--#{userRole,jdbcType=VARCHAR}, #{createAt,jdbcType=BIGINT}, #{updateAt,jdbcType=BIGINT}, -->
      <!--#{editorId,jdbcType=BIGINT}, #{privileges,jdbcType=VARCHAR})-->
  <!--</insert>-->
  <insert id="add" parameterType="cn.syn.chuilun.model.User" >
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      select LAST_INSERT_ID()
    </selectKey>
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="userRole != null" >
        user_role,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="updateAt != null" >
        update_at,
      </if>
      <if test="editorId != null" >
        editor_id,
      </if>
      <if test="privileges != null" >
        privileges,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="userRole != null" >
        #{userRole,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=BIGINT},
      </if>
      <if test="updateAt != null" >
        #{updateAt,jdbcType=BIGINT},
      </if>
      <if test="editorId != null" >
        #{editorId,jdbcType=BIGINT},
      </if>
      <if test="privileges != null" >
        #{privileges,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="cn.syn.chuilun.model.User" >
    update user
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="userRole != null" >
        user_role = #{userRole,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=BIGINT},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=BIGINT},
      </if>
      <if test="editorId != null" >
        editor_id = #{editorId,jdbcType=BIGINT},
      </if>
      <if test="privileges != null" >
        privileges = #{privileges,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <!--查找所有数据-->
  <select id="findAll" resultType="cn.syn.chuilun.model.User" resultMap="BaseResultMap">
    select * from user
  </select>
  <select id="findUsersByPage" resultMap="BaseResultMap" resultType="cn.syn.chuilun.model.User" parameterType="int">
    select * from user limit #{start},#{perPageUsers}
  </select>

</mapper>